wp/wp-admin/
wp/wp-includes/
wp/wp-config.php
wp/.htaccess
wp/wp-content/*
!wp/wp-content/themes/
!wp/wp-content/themes/**
!wp/wp-content/plugins/
!wp/wp-content/plugins/**
wp/wp-content/themes/**/node_modules/
/db_data/
*.pid
*.sock
docker/*.pid
docker/*.log
*.tar
*.gz
*.zip
.DS_Store
Thumbs.db
node_modules/
npm-debug.log
yarn-error.log
.vscode/
.idea/
*.iml
.env
.env.local
.env.*.local
tmp/
.cache/